.info-card {
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.profile-photo {
  border-radius: 10%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  background-color: rgb(236, 236, 236);
}

.profile-page label {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.box input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  border: 1px solid #d5d5d5;
  padding: 6px 6px 7px;
}
